h1 {
  width: 100%;
  text-align: center;
}

section {
  width: 100%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 1rem;
}

section div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  border: 2px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.article-940 {
  width: 940px;
}

.article-540 {
  width: 540px;
}

.article-380 {
  width: 380px;
}

.article-300 {
  width: 300px;
}

.article-220 {
  width: 220px;
}
